*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#bgburger{
    height: 100vh;
    width: 100%;
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}
ul{
    display: flex;
    margin-top: 45px;
    margin-left: 250px;
}
li{
    color: white;
    list-style: none;
    padding-left: 50px;
    font-size: 22px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
#oneh1{
    position: absolute;
    top: 25%;
    color: white;
    font-size: 72px;
    margin-left: 50px;
    cursor: default;
}
#onep{
    position: absolute;
    top: 55%;
    color: white;
    font-size: 24px;
    cursor: default;
    margin-left: 50px;
}
button{
    cursor: pointer;
}
#ordernow{
    position: absolute;
    bottom: 19%;
    margin-left: 50px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(224, 64, 64);
    font-size: 20px;
    color: white;
    border: none;
    text-transform: uppercase;
}
#con2bg{
    height: 110vh;
    width: 1250px;
    position: relative;
}
.container2{
    background-color: white;
    height: 530px;
    position: absolute;
    bottom: -110%;
    left: 10%;
    width: 77%;
    color: rgb(224, 64, 64);
}
#cont2p{
    text-align: center;
    font-size: 22px; 
    color: rgb(224, 64, 64);
    margin-top: 10px;
}
.chefs{
    display: flex;
    justify-content: center;
}
#chef1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
.imginfo{
    margin-left: 80px;
}
.container3{
    height: 110vh;
    background-color: rgb(224, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 200px;
}
.cont3info{
    margin-right: 200px;
}
#cont3p{
    margin-left: 130px;
    font-size: 22px;
}
#cont3img{
    border-radius: 50%;
}
#ordernow2{
    margin-left: 120px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    color: rgb(224, 64, 64);
    border: none;
    text-transform: uppercase;
}
.container4{
    color: rgb(224, 64, 64);
}
.cont4info{
    position: absolute;
    bottom: -320%;
    left: 50;
}
#cont4img{
    position: absolute;
    bottom: -330%;
    right: 15%;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
#cont4p{
    margin-left: 200px;
    font-size: 22px;
    margin-bottom: 30px;
}
#ordernow3{
    margin-left: 195px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(224, 64, 64);
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: none;
    text-transform: uppercase;
}
.container5{
    height: 100vh;
    color: white;
    background-color: rgb(224, 64, 64);
}
#cont5h{
    padding-top: 60px;
    text-align: center;
    font-size: 56px;
    cursor: default;
}
#cont5p{
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.stats{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.coc{
    border: 5px solid white;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-left: 80px;
    padding-top: 70px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.container6{
    color: rgb(224, 64, 64);
    position: absolute;
    bottom: -560%;
    width: 100vw;
}
#cont6h{
    font-size: 50px;
    margin-left: 15%;
    cursor: default;
    margin-bottom: 20px;
}
.packages{
    display: flex;
    justify-content: center;
}
.package{
    background-color: white;
    margin-left: 30px;
    height: 350px;
    width: 300px;
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 20px;
}
#ordernow4{
    margin-left: 40px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(224, 64, 64);
    font-size: 20px;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}
#cont7img{
    height:"600";
    opacity: 20%;
}
.container7{
    background-color: rgb(224, 64, 64);
    color: white;
}
#cont7p{
    position: absolute;
    top: 740%;
    text-align: center;
    margin-left: 250px;
    font-size: 32px;
}
.container8{
    color: rgb(224, 64, 64);
    position: absolute;
    top: 860%;
    margin-left: 20%;
    font-size: 32px;
}
.io{
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
}
#inptxt{
    width: 450px;
    height: 45px;
    border-radius: 22px 0 0 22px ;
    border: none;
    font-size: 16px;
    padding-left: 20px;
    color: rgb(168, 163, 163);
}
#subscribe{
    background-color: rgb(224, 64, 64);
    width: 150px;
    border: none;
    border-radius: 0px 22px 22px 0px ;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}
footer{
    height: 100vh;
    background-color: rgb(36, 35, 35);
    color: white;
    display: flex;
    align-items: baseline;
    padding-top: 170px;
}
#abul{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
li{
    margin-bottom: 10px;
}
.burgerBash{
    margin-left: 100px;
    cursor: default;
}
.socials{
    display: flex;
}